<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

   <servlet>
      <servlet-name>Recipe Controller</servlet-name>
      <servlet-class>com.yandm.assir.bo.controller.RecipeController</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>Recipe Controller</servlet-name>
      <url-pattern>/admin/recipe/*</url-pattern>
   </servlet-mapping>

   <servlet>
      <servlet-name>Ingredient Controller</servlet-name>
      <servlet-class>com.yandm.assir.bo.controller.IngredientController</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>Ingredient Controller</servlet-name>
      <url-pattern>/admin/getIngredients/*</url-pattern>
   </servlet-mapping>

   <servlet>
      <servlet-name>Login Controller</servlet-name>
      <servlet-class>com.yandm.assir.bo.controller.LoginController</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>Login Controller</servlet-name>
      <url-pattern>/admin/login</url-pattern>
   </servlet-mapping>

   <filter>
      <filter-name>loginFilter</filter-name>
      <filter-class>com.yandm.assir.bo.controller.LoginFilter</filter-class>
   </filter>
   <filter-mapping>
      <filter-name>loginFilter</filter-name>
      <url-pattern>/admin/*</url-pattern>
   </filter-mapping>

   <welcome-file-list>
      <welcome-file>index.jsp</welcome-file>
      <welcome-file>admin/index.jsp</welcome-file>
   </welcome-file-list>

</web-app>
